.card {
    width: 75%;
    margin: 2% 10%;
    box-shadow: 5px 5px rgb(218, 217, 217);
    
}


.card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
}
.card-div1 {
    display: flex;
    flex-direction: column;
    column-gap: 4px !important;
}